.App {
  font-family: sans-serif;
  text-align: center;
}

.message {
  height: 24px;
  line-height: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.row {
  display: flex;
  gap: 5px;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.incorrect {
  background-color: gray;
}
.correct {
  background-color: lightgreen;
}
.close {
  background-color: rgb(227, 224, 34);
}
